.footer-main{
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.footer-content{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
}

.footer-link{
    margin-left: 5px;
}

.footer-icons{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.footer-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
