html{
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}
